.footer{
    padding-top: 90px;
    &-link-wrap{
        display: flex;
        gap: 30px ;
    }
    &-link-heading{
        position: relative;
        span{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            color: #fff;
            font-size: 40px;
        }
    }
    &-link-menu{
        padding-left: 12px;
        display: flex;
        min-height: 275px;
        margin-top: 40px;
        flex-direction: column;
        gap: 12px;
        list-style: none;
        border-left: 1px solid #279a9f;
        li{
            font-size: 40px;
            color: #fff;
        }
    }
    &-social{
        display: flex;
        gap: 22px;
        justify-content: flex-end;
    }
    &-line{
        img{
            transform: translate(36px, -36px)
        }
    }
    &-copyright{
        color: #fff;
        margin-top: -35px;
        display: flex;
        font-size: 40px;
        justify-content:space-between;
    }
}


@media screen and (max-width: 1023.98px) {
    .footer{
        &-link{
            &-heading{
                font-size: 26px;
            }
            &-menu{
                min-height: 200px;
                li{
                    font-size: 26px;
                }
            }
        }
        &-copyright{
            margin-top: -20px;
            div{
            font-size: 26px;

            }
        }
        .footer-line img {
            transform: translate(25px, -30px);
        }
        
        
        padding-bottom: 200px;
    }
}
@media screen and (max-width: 767.98px) {
    .footer{
        &-link{
            &-heading{
                span{
                    font-size: 30px;
                }
            }
        }
        &-social{
            justify-content: center;
        }
        .footer-line img {
            transform: translate(25px, -12px);
        }
        &-copyright{
            margin-top: -5px;
            div{
                font-size: 22px;
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .footer{
        &-social{
            gap: 14px;
        }
        &-link{
            &-heading{
                span{
                    font-size: 20px;
                }
            }
        }
    }
}
