.sidebar{
    background-image: url(../img/sidebar-bg.jpg);
    background-size: cover;
    width: 200px;
    transform: translate(-6px, -9px);
    position: fixed;
    overflow: scroll;
    height: 100vh;
    top: 0;
    bottom: -10px;
    left: 0;
    z-index: 99;

    &-container{
        padding: 3.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(-10px);
    }
    .logo{
        margin: 10px 0;
        width: 95px;
        height: 95px;
        object-fit: contain;
    }
    .menu{
        width: 100%;
        list-style: none;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 55px;
        flex-direction: column;
    }
    li{
        width: 100%;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .menu-item{
            position: absolute;
            top: 3px;
            display: flex;
            flex-direction: column;
            p{
                color: #fff;
                font-size: 25px;
                z-index: 99;
            }
        }
    }
    li img{
        height: 40px;
        object-fit: contain;
        z-index: 99;
        left: 41%;
    }
    li.active{
        img{

        }
        .menu-active{
            opacity: 1;
        }
    }
    .menu-active{
        height: 82px;
        width: 82%;
        opacity: 0;
        transition: 0.2s ease;
        z-index: 1;
        position: unset;
        align-self: flex-start;
        transform: translateX(8px);
    }
}

.sidebar::-webkit-scrollbar{
    display: none;
}
.sidebar-mobile{
    display: none;
}

@media screen and (max-width: 1023.98px) {
    .sidebar{
        display: none;
    }
    .swiper3{
        display: block !important;
        bottom: 0;
        background-image: unset;
        position: absolute;
        display: block;
        left: 0;
        top: unset;
        background-color: #171a26;
        right: 0;
        overflow: hidden;
        
        .logo{
            display: none;
        }
        .menu{
            gap: 10px;
            display: flex;
            flex-direction: row;
            margin-bottom: 0;
            transform: unset;
            padding-bottom: 20px;
            &-item{
                padding-top: 40px;
                bottom: 14px;
                position: absolute;
                z-index: 99;
                height: 111%;
                justify-content: space-between;
                p{
                    margin-top: auto;
                    color: #fff;
                    font-size: 30px;
                }
            }
           
            li{
                height: 70px;
                display: flex;
                align-items: center;
            }
            li.active{
                img{
        
                }
                .menu-active{
                    opacity: 1;
                }
            }
            .menu-active{
                opacity: 0;
                transition: 0.2s ease;
                z-index: 1;
                position: unset;
                align-self: flex-start;
                height: 137px;
                transform: rotate(270deg);
                width: 300px;
                bottom: 83px;
                position: absolute;
                object-fit: cover;
            }
        }
    }

    
}
@media screen and (max-width: 767.98px) {
    .swiper3{
        .menu{
            &-item{
                height: 100%;
            }
            .item{

            }
        }
    }
}
